@import "~bulma";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.gh-description {
  flex-direction: column;
  justify-content: flex-start;

  &.level-right {
    align-items: flex-start;

    .level-item {
      margin: 0;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}

.gh-description__item {
  padding: 0 5px;
}

.gh-user-avatar img{
  width: 32px;
}

#profile-bio{
  margin-top:10px;
}

.timeline .timeline-item {
  padding-bottom:1em;
}

.invalid-input {
  border: 1px solid #f00;
}